pathlib==1.0.1
futures==3.1.1
msrestazure==0.5.0
azure-common==1.1.16
azure-mgmt-batch==5.0.1
azure-mgmt-storage==3.0.0
azure-mgmt-resource==2.0.0
azure-batch==5.1.1
azure-storage==0.36.0
azure-batch-extensions==4.0.2
mock==2.0.0
